<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpkZEqTiRVWU3SCgyHfZ0bQOykp6gG7Eo</string>
	<key>GCM_SENDER_ID</key>
	<string>531308153598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practiesApp</string>
	<key>PROJECT_ID</key>
	<string>my-first-project-48de0</string>
	<key>STORAGE_BUCKET</key>
	<string>my-first-project-48de0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531308153598:ios:f16529d607b803c8cd33af</string>
</dict>
</plist>